 name: Upload debug files
 uses: actions/upload-artifact@v4
        with:
          name: debug-files
          path: |
            debug_fortaleza.html
            debug_fullpage.html
        if: always()
